.header{
	background-color: #006400;
	padding: 10px;
	text-align: center;
	color:white;
	text-transform: uppercase;
}
.topnav{
	overflow: hidden;
	background-color: green;
}
.topnav a{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 24px;
	text-align: center;
}

.topnav a:hover{
	background-color: white;
	color: black;
}

.kolom{
	float: left;
	width: 31.33%;
	padding:10px;
	text-align: justify;
}
.footer {
	background-color: #006400;
	padding: 18px;
text-align: center;
}

.footer p:hover{
	background-color:#98FB98;
	color: red;
}
.kolom2{
	float: left;
	width: 31.33%;
	padding:10px;
	text-align: justify;
}
.kolom3{
	float: left;
	width: 31.33%;
	padding:10px;
	text-align: justify;
}
.imgcard{
	width: 900px;
	height: 500px;
	display: block;
	margin-left:auto;
	margin-right: auto;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-color: green;
	border-width: 20px;
	border-style: solid;
}

.banner{
	padding: 1px;
	margin-top:200px;
}
.fixed-nav{
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}
.row:after {
	content: "";
	display: table;
	clear: both;
	position: absolute;
	top: 50%;
	left: 50%;
	
}

.column {
	float: left;
	width: 30%;
	padding: 15px;
	text-align: justify;
}

.column2{
	float: left;
	width: 100%;
	padding: 15px;
	text-align: center;
}

.column3{
	float: left;
	width: 64%;
	padding: 15px;
	text-align: justify;
}

.column4 {
	float: left;
	width: 47%;
	padding: 15px;
	text-align: justify;
}
